@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận làm mới mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được làm mới. Hãy <a asp-page="./Login">click vào đây để đăng nhập</a>.
</p>
